{% extends "ProjetBurgerBundle::layout.html.twig" %}
{% block title %}
    Password change-{{ parent() }}
{% endblock %}
{% block goodburger_body %}
    <h2>Change your Password</h2>
    <hr>
    {% if notification is defined %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Notification !</strong>   {{ notification }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% else %}
        <form action="{{ path('projet_burger_vcpassword') }}" method="post">
            <div class="form-group">
                <label for="pass">Enter the actual password *</label>
                <input type="password" class="form-control" name="ppassword" placeholder="Password" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">New Password *</label>
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <button type="reset" class="btn btn-primary">Cancel</button>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    {% endif %}
    {% block javasrcipts %}
        {{ parent() }}
    {% endblock %}

{% endblock %}