{% extends "ProjetBurgerBundle::layout.html.twig" %}
{% block title %}
    Homepage-{{ parent() }}
{% endblock %}
{% block goodburger_body %}
    <br>
    <h1>Welcome to The GoodBurger restaurant</h1><br>
    <hr>
    <div class="well" id="tester">
        {% if notification is defined %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Notification !</strong>   {{ notification }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    </div>
    {% include "ProjetBurgerBundle:Burger:pdisplay.html.twig" %}
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            function test(y){
                bootbox.prompt({
                    title: "Enter the quantity",
                    inputType: 'number',
                    callback: function (result) {
                        $.ajax({
                            url: "{{ (path('projet_burger_valide')) }}",
                            type: "POST",
                            data: {"id": y, "qted": result}
                        })
                            .done(function (msg) {
                                alert("ok");
                                $('#tester').html(msg);
                            })
                            .fail(function () {
                                alert("Echec");
                            });
                    }
                });
            }
        </script>
    {% endblock %}
{% endblock %}